* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

.header-top {
  padding: 20px 0;
}

.header-bottom {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav {
  text-align: center;
}

.nav-list-content {
  display: inline-block;
  padding: 15px 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  font-size: 0;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
  display: inline-block;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: #cbffbd;
  display: inline-block;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
  display: inline-block;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
  display: inline-block;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
  display: inline-block;
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
  display: inline-block;
}

.box7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
  display: inline-block;
}

.box8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
  display: inline-block;
}

.box9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
  display: inline-block;
}

.box10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
  display: inline-block;
}

.box11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
  display: inline-block;
}

.box12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
  display: inline-block;
}

footer {
  text-align: center;
  width: 100%;
  height: 120px;
  background-color: gray;
  line-height: 120px;
}
